---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 style="margin-top: 60px">Astro</h1>
		<div>
			Go ahead and give the chatbot a shot. Click on the chat widget and
			input a hard concept. Here are some examples:
			<ul class='ml-7 list-disc'>
				<li>AI</li>
				<li>Fermi's Paradox</li>
				<li>Occam's Razor</li>
				<li>Laws of Thermodynamic</li>
			</ul>
		</div>
		<div>Have fun!</div>

		<script type="module">
			// import Chatbot from "https://cdn.jsdelivr.net/npm/flowise-embed/dist/web.js"
            // import Chatbot from './web.js'
			import Chatbot from "https://pub-628ad7a62070478ca8818a16bf0f0a35.r2.dev/web.js"
			Chatbot.init({
				// chatflowid: "991d8f9e-70f6-4b3a-a755-66f8fdc1eece",
				// chatflowid: "48301b86-1cf6-4c83-805d-7e7208a36d0c",
                chatflowid: "5f196a2f-e694-4604-b393-6a20548cfabb",
				// apiHost: "http://localhost:3000",
				// apiHost: "https://flowise-main.up.railway.app",
				apiHost: "https://flowise-ui-cwc5.onrender.com",
			})
		</script>
	</body>
</html>
