---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 style="margin-top: 60px">Astro</h1>
		<div>
			Go ahead and give the chatbot a shot. Click on the chat widget and
			input a hard concept. Here are some examples:
			<ul class='ml-7 list-disc'>
				<li>AI</li>
				<li>Fermi's Paradox</li>
				<li>Occam's Razor</li>
				<li>Laws of Thermodynamic</li>
			</ul>
		</div>
		<div>Have fun!</div>

		<div style="display: flex; justify-content: center;">
			<div style="border: 2px solid black">
				<flowise-fullchatbot></flowise-fullchatbot>
			</div>
		</div>
		<script type="module">
			import Chatbot from "https://cdn.jsdelivr.net/npm/flowise-embed/dist/web.js"
			// import Chatbot from "./web.js"
			Chatbot.initFull({
				// chatflowid: "b0e18e5b-1b19-456f-9370-e5dedd8d2c89",
				// chatflowid: "0ea23997-4b5a-464b-ad6c-9cac44170b74",
                chatflowid: "5d7e1e37-eb6a-4298-8eb2-865087f10c3b",
				// apiHost: "http://localhost:3000",
				apiHost: "https://flowise-main.up.railway.app",
				theme: {
					chatWindow: {
						width: 800,
						height: 1600,
					}
				}
			})
		</script>
	</body>
</html>
